{% macro meta() %}
  {# Social Media #}
  <meta property="og:title"
        content="{{ kwargs['og_title']|default(metadata.og_title) }}" />
  <meta property="og:description"
        content="{{ kwargs['og_description']|default(metadata.og_description, true) }}" />
  <meta property="og:image"
        content="{{ url_for('static', path=kwargs['og_image']|default(metadata.og_image) ) }}" />
  <meta property="og:url"
        content="{{ kwargs['og_url']|default(metadata.og_url) }}" />
  <meta property="og:type" content="{{ metadata.og_type }}" />
  <meta property="og:locale" content="{{ metadata.og_locale }}" />
  {# Twitter #}
  <meta name="twitter:card" content="{{ metadata.twitter_card }}" />
  <meta name="twitter:title"
        content="{{ kwargs['twitter_title']|default(metadata.twitter_title) }}" />
  <meta name="twitter:description"
        content="{{ kwargs['twitter_description']|default(metadata.twitter_description, true) }}" />
  <meta name="twitter:image"
        content="{{ url_for('static', path=kwargs['twitter_image']|default(metadata.twitter_image) ) }}" />
  <meta name="twitter:creator" content="{{ metadata.twitter_creator }}" />
{% endmacro %}
