{% extends "layout/base.html" %}

{% from "includes/meta.html" import meta with context %}

{% block meta %}
  {{ meta() }}
{% endblock meta %}

{% block title %}
  Revelations
{% endblock title %}

{% block content %}
  <div class="px-5 sm:px-10 md:w-[768px] mx-auto divide-y">
    <div class="py-24">
      <ul class="flex gap-2">
        <li>
          <a href="{{ url_for('home') }}"
             class="text-neutral-400 hover:text-neutral-300">Home</a>
        </li>
        <li class="text-neutral-400">/</li>
        <li>Revelations</li>
      </ul>
      <h1 class="font-extrabold text-4xl">Discover my latest revelations</h1>
    </div>
    <div>
      <h2 class="font-extrabold text-3xl mt-4">Revelations</h2>
      {% if posts %}
        <ul class="mt-12 mb-3 space-y-3 flex flex-col items-center">
          {% for post in posts %}
            <li class="md:max-w-[768px] sm:max-h-[282px]">
              <a href="{{ url_for('post_detail', slug=post.slug) }}"
                 class="flex flex-col sm:flex-row bg-neutral-900 rounded-3xl overflow-hidden">
                <img src="{{ url_for('static', path=post.thumbnail) }}"
                     alt="banner"
                     width="450"
                     height="300"
                     class="sm:w-3/5" />
                <div class="h-[148px] sm:h-auto sm:w-2/5 m-8 flex flex-col justify-between">
                  <div class="space-y-2">
                    <div class="space-x-2">
                      <span class="bg-neutral-800 px-2 py-1 rounded-full text-sm">{{ post.reading_time }}</span>
                      {% if post.topic %}<span>{{ post.topic }}</span>{% endif %}
                    </div>
                    <h2 class="font-extrabold text-2xl line-clamp-3 md:line-clamp-4 w-[211.2px]">
                      {{ post.title }}
                    </h2>
                  </div>
                  <span class="flex justify-end text-sm text-neutral-400">{{ post.publish_date }}</span>
                </div>
              </a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
  </div>
{% endblock content %}
