<!doctype html>
<html lang="{{ config.site_language }}" class="mdui-theme-{{ config.site_settings.theme }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5, shrink-to-fit=no"/>
    <meta name="renderer" content="webkit"/>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <meta name="description" content="{% block meta_description %}{{ config.site_settings.description }}{% endblock %}">
    <meta name="keywords" content="{% block meta_keywords %}{{ config.site_settings.keywords }}{% endblock %}">
    <meta name="theme-color" content="#{{ config.site_settings.color_scheme }}" />
    {% if config.cloudflare_analytics_token %}
    <!-- Cloudflare Web Analytics -->
    <script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "{{ config.cloudflare_analytics_token }}"}'></script>
    <!-- End Cloudflare Web Analytics -->
    {% endif %}
    <link rel="stylesheet" href="/static/mdui_2.1.4/mdui.css">
    <style>
    body {
      font-family: 'Roboto', sans-serif;
    }

    @import url('/static/roboto/roboto.css');
    </style>
    <script src="/static/mdui_2.1.4/mdui.global.js"></script>
    <link rel="stylesheet" href="/static/material_icons/material_icons.css">

    {% block head_extra %}{% endblock %}

    <title>{% block title %}{{ config.site_settings.title }}{% endblock %}</title>
  </head>
  <body role="main">
      <mdui-navigation-drawer close-on-overlay-click modal class="sidenav" role="navigation">
          <mdui-button-icon icon="close" onclick="toggleSideNav();" style="float: right; margin: 12px;"></mdui-button-icon>
          <div style="height: 15%;"></div>
          <mdui-list>
            <mdui-list-item icon="timeline" end-icon="arrow_forward" href="/">{{ i18n.recent_posts }}</mdui-list-item>
            {% if not is_static %}
              <mdui-list-item icon="search" end-icon="arrow_forward" href="/search">{{ i18n.search }}</mdui-list-item>
            {% endif %}
            <mdui-list-item icon="tag" end-icon="arrow_forward" href="/tags{% if is_static %}.html{% endif %}">{{ i18n.tags }}</mdui-list-item>
            <mdui-list-item icon="list" end-icon="arrow_forward" href="/posts{% if is_static %}.html{% endif %}">{{ i18n.all_posts }}</mdui-list-item>
            {% if config.friend_links %}
            <mdui-list-item icon="link" end-icon="arrow_forward" href="/friend-links{% if is_static %}.html{% endif %}">{{ i18n.friend_links }}</mdui-list-item>
            {% endif %}
            <mdui-list-item icon="info" end-icon="arrow_forward" onclick="mdui.$('#about')[0].open = true">{{ i18n.about }}</mdui-list-item>
          </mdui-list>
          <!-- fix at bottom -->
          <br><br>
          <mdui-divider></mdui-divider>
          <br>
          <p style="text-align: center; color:rgb(var(--mdui-color-on-surface-variant));">
              {{ i18n.powered_by.format(backend_version) }}<br>
              {% if commit_hash %}
              <span style="color: rgb(var(--mdui-color-outline)); font-size: small;">{{ i18n.powered_by_commit.format(commit_hash) }}</span><br>
              {% endif %}
              <br>
              <span style="font-size: small;">{{ i18n.powered_by_desc }}</span>
          </p>
      </mdui-navigation-drawer>
      <mdui-top-app-bar role="banner">
        <mdui-button-icon icon="menu" onclick="toggleSideNav();"></mdui-button-icon>
        <a href="/" style="text-decoration: none;"><mdui-top-app-bar-title>{{ config.site_settings.title }}</mdui-top-app-bar-title></a>
        <div style="flex-grow: 1"></div>
        <mdui-button-icon icon="rss_feed" href="{% if not is_static %}/feed{% else %}/feed.xml{% endif %}"></mdui-button-icon>
        {% if not is_static %}<mdui-button-icon icon="search" href="/search"></mdui-button-icon>{% endif %}
        <mdui-button-icon icon="more_vert" onclick="mdui.$('#about')[0].open = true"></mdui-button-icon>
      </mdui-top-app-bar>

      <div style="padding-left: 5%; padding-right: 5%;" role="contentinfo">
          {% block content %}{% endblock %}
          {% block copyright %}
          {% if copyright %}
            <mdui-divider></mdui-divider>
            <br>
            <div class="mdui-prose">
                <p>{{ i18n.copyright.format(copyright.name) }}&nbsp;<a href="{{ copyright.refer }}" target="_blank">{{ i18n.copyright_refer }}</a></p>
            </div>
          <br>
          {% endif %}
          {% endblock %}
      </div>
      
      {% if config.icp %}
      <div style="text-align: center;" class="mdui-prose"><a href="{{ config.icp.url }}" target="_blank">{{ config.icp.description }}</a></div>
      <br>
      {% endif %}
      <br>

      <mdui-dialog id="about" close-on-esc close-on-overlay-click style="text-align: center;">
            <p style="font-size: x-large;">{{ config.site_settings.title }}</p>
            <p>{{ config.site_settings.description }}
            <br>{{ i18n.total_posts.format(total_posts) }}
            </p>
            <br>
            <mdui-divider></mdui-divider>
            <p>
            {{ i18n.powered_by.format(backend_version) }}<br>
            {% if commit_hash %}
            <span style="color: rgb(var(--mdui-color-outline)); font-size: small;">{{ i18n.powered_by_commit.format(commit_hash) }}</span><br>
            {% endif %}
            <br>{{ i18n.powered_by_desc }}
            <div class="mdui-prose"><a href="https://github.com/0x24a/AmiaBlog" target="_blank">{{ i18n.github_repo }}</a></div>
            {% if is_static %}
                <br>{{ i18n.static_build_time.format(static_build_time) }}
            {% endif %}
            </p>
      </mdui-dialog>
      
      {% block extra_scripts %}{% endblock %}
      <script>
      const sideNav = mdui.$('.sidenav')[0];
      function toggleSideNav() {
        sideNav.open = !sideNav.open;
      }
      mdui.setColorScheme('{{ config.site_settings.color_scheme }}')
      </script>
  </body>
</html>