{% extends "base.html" %}

{% block title %}{{ i18n.error_title }} - {{ config.site_settings.title }}{% endblock %}

{% block meta_description %}{{ i18n.error_occured }}{% endblock %}

{% block content %}
    <p style="font-size: x-large;">{{ i18n.error_occured }}</p>
    <p>{{ i18n.error_desc.format(error) }}</p>
    <br>
    <mdui-divider></mdui-divider>
    <br>
    <div style="display: flex; align-items: center; flex-wrap: wrap;">
        <span style="display: inline-flex; align-items: center; gap: 0.8rem;">
            <mdui-circular-progress max="1" min="0" value="1" style="width: 1.5em; height: 1.5em;" id="progress"></mdui-circular-progress> <span id="countdown"></span>
        </span>
    </div>
    <br>
{% endblock %}
{% block extra_scripts %}
    <script>
    const COUNTDOWN_TEXT = "{{ i18n.error_redirect }}";
    function updateProgress() {
        const progress = document.getElementById('progress');
        const countdown = document.getElementById('countdown');
        const duration = 5000;
        const interval = 1000;
        let elapsed = 0;
        countdown.textContent = COUNTDOWN_TEXT.replace('%COUNTDOWN%', Math.ceil(duration / 1000));

        const update = () => {
            elapsed += interval;
            const progressValue = Math.max(0, 1 - (elapsed / duration));
            progress.setAttribute('value', progressValue);
            countdown.textContent = COUNTDOWN_TEXT.replace('%COUNTDOWN%', Math.ceil((duration - elapsed) / 1000));

            if (elapsed < duration) {
                setTimeout(update, interval);
            } else {
                setTimeout(() => window.history.back(), 500);
            }
        };

        setTimeout(update, interval);
    }
    
    window.addEventListener('load', updateProgress);
    </script>
{% endblock %}