{% extends "base.html" %}

{% block title %}{{ i18n.tag_search.format(tag) }} - {{ config.site_settings.title }}{% endblock %}

{% block meta_description %}{{ i18n.tags_desc.format(tag) }}{% endblock %}

{% block content %}
    <p style="font-size: x-large;">{{ i18n.tag_search.format(tag) }}</p>
    {% for post in posts %}
    <mdui-card href="/post/{{ post.slug }}{% if is_static %}.html{% endif %}" target="_blank" variant="elevated" style="width: 100%; background-color: rgb(var(--mdui-color-surface-container));">
        <div style="padding-left: 16px; padding-right: 16px;">
          <p style="font-size: large; font-weight: bold;">{{ post.metadata.title }}</p>
          <p>{{ post.metadata.description }}</p>
          {% for tag in post.metadata.tags %}
          <mdui-chip href="/tag/{{ tag | urlencode }}{% if is_static %}.html{% endif %}" target="_blank">{{ tag }}</mdui-chip>&nbsp;
          {% endfor %}
          <p style="display: flex; align-items: center; gap: 0.8rem; flex-wrap: wrap; color: rgb(var(--mdui-color-outline))">
            <span style="display: inline-flex; align-items: center; gap: 0.25rem;">
              <mdui-icon name="person"></mdui-icon> {{ post.metadata.author }}
            </span>
            <span>|</span>
            <span style="display: inline-flex; align-items: center; gap: 0.25rem;">
              <mdui-icon name="calendar_month"></mdui-icon> {{ post.metadata.date }}
            </span>
            <span>|</span>
            <span style="display: inline-flex; align-items: center; gap: 0.25rem;">
              <mdui-icon name="edit"></mdui-icon> {{ post.metadata.last_modified }}
            </span>
          </p>
        </div>
    </mdui-card>
    <br><br>
    {% endfor %}
    {% if not posts %}
        <p>{{ i18n.search_none }}</p>
    {% endif %}
{% endblock %}